@import '~styles/variables/colors';

.base {
  counter-increment: count-me;
  display: block;
  background-color: #eee;
}

.count {
  background-color: $lime;
  color: white;
  padding: 3px;
  border-radius: 100px;
}

.open {

}

.closed .container {
  display: none;
}